.land-elegibility {

    .leaflet-container,
    .details-card,
    .map-wrap {
        height: 500px;
        width: 600px;
    }

    .chart,
    .details-card {
        height: 250px;
    }

    .chart {
        width: 60%;
    }
}

.icon {
    width: 20px;
    height: 20px;
    margin: 0 auto;
}

.info-button {
    font-size: 0.4em !important;
}

.validar {
    color: rgb(127, 182, 255);
    :hover {
        cursor: pointer;
    }
}