.zone-picker {
    display: flex;
    justify-content: center;
}

.leaflet-container {
    height: 400px;
    width: 600px;
}

.tab-content {
    height: 4em;
}

.file-drop-container {
    border: 1px dashed #ccc;
    color: #6c757d;
}